*{
  font-family: 'Anonymous Pro', monospace;
  /* RESETS */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  user-select: none;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.holdable {
  display: block;
}

.tile {
  background-color: #cccccc;
  border: 2.5px outset #aaaaaa;
  height: 40px;
  width: 40px;
  display: block;
}

.tile:hover {
  background: #bbbbbb;
}

.tile:active {
  border-style: inset;
}

.tile_clicked {
  background-color: #dadada;
  border: 2.5px solid #cccccc;
  height: 40px;
  width: 40px;
  display: block;
}

.flag {
  position: absolute;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.mine {
  position: absolute;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.value {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  border: none;
}