*{
  font-family: 'Anonymous Pro', monospace;
  /* RESETS */
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

h2{
  margin: 16px 0px;
}

.board {
  user-select: none;
  /* width: 100%; */
  /* margin: 0% 5%; */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.holdable {
  display: block;
}

.tile {
  background-color: #cccccc;
  border: 2.5px outset #aaaaaa;
  height: 40px;
  width: 40px;
  display: block;
}

.tile:hover {
  background: #bbbbbb;
}

.tile:active {
  border-style: inset;
}

.tile_clicked {
  background-color: #dadada;
  border: 2.5px solid #cccccc;
  height: 40px;
  width: 40px;
  display: block;
}

.flag {
  position: absolute;
  height: 30px;
  width: 30px;
  padding: 5px;
  z-index: 10;
}

.mine {
  position: absolute;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.value {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  border: none;
}

/* Numbers & their colors */
.c0{
  display: none;
}

.c1{
  color: blue;
}

.c2{
  color: green;
}

.c3{
  color: red;
}

.c4 {
  color: purple;
}

.c5 {
  color: maroon;
}

.c6{
  color: darkcyan;
}

.c7{
  color: black;
}

.c8{
  color: gray;
}

.flags {
  padding: 8px;
  margin: 8px 0px;
  /* width: 100%; */
  background-color: #dddddd;
}

.won {
  color: green;
  background-color: #c7ffc7;
  padding: 8px 0px;
  margin: 8px 0px;
  width: 100%;
  text-align: center;
}

.over {
  color: red;
  background-color: #ffc7c7;
  padding: 8px 0px;
  margin: 8px 0px;
  width: 100%;
  text-align: center;
}